@font-face {
  font-family: "Gilroy"; 
  src: url("./fonts/Gilroy-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Gilroy-Regular"; 
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Gilroy-Medium"; 
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Gilroy-Light"; 
  src: url("./fonts/Gilroy-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "NotoSerif-Regular"; 
  src: url("./fonts/NotoSerif-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "NotoSerif-Bold"; 
  src: url("./fonts/NotoSerif-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "NotoSerif-Italic"; 
  src: url("./fonts/NotoSerif-Italic.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "NotoSerif-BoldItalic"; 
  src: url("./fonts/NotoSerif-BoldItalic.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 

*{
  margin: unset;
  padding: unset;
}

a{
  text-decoration: none;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
